a {
    text-decoration: none;
}

body, h2, h3, h4, p {
    font-weight: 300;
}

*:focus {
    outline: 0;
}

h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
}

body {
    background: #213947;
    font-size: 16px;
    margin-bottom: 50px;
}

main {
    margin: 0 auto;
    max-width: 960px;
    position: relative;
    text-align: center;
}

h1 {
    border-radius: 0 0 20px 20px;
    background: white;
    border: 5px solid #ccc;
    color: #213947;
    font-size: 2.5em;
    font-weight: 400;
    margin: 0 auto 30px;
    max-width: 750px;
    padding: 30px 0 15px;
}

/*
| Question
*/
.content-question {

    background: linear-gradient(45deg, #e8e5e1 0%, #969295 26%, #f9faf9 52%, #898487 87%, #b3b2b2 100%);
    border-radius: 20px;
    color: #213947;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e5e1', endColorstr='#b3b2b2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    margin: 60px 0;
    position: relative;
    z-index: 1;
}

.content-question.last {
    margin-bottom: 0;
}

.question {
    background: white;
    border-radius: 20px;
    display: block;
    font-weight: 400;
    margin: auto;
    position: relative;
    top: -25px;
    padding: 20px;
    width: 708px;
}

.question span {
    display: block;
    font-size: 0.85rem;
    margin-top: 4px;
}

.content-radio {
    background: #213947;
    border-radius: 12px;
    color: #F8C700;
    display: inline-block;
    margin: 0 5px;
    padding: 9px 14px 6px;
    position: relative;
    text-align: left;
    top: -20px;
    width: 185px;
}

.content-radio input {
    position: absolute;
    right: 20px;
}

.content-radio input:after {
    background: linear-gradient(45deg, rgba(216, 216, 216, 1) 0%, rgba(242, 242, 242, 1) 100%);

    border: 5px solid white;
    border-radius: 50%;
    content: "";
    height: 36px;
    left: -25px;
    position: absolute;
    top: -14px;
    width: 36px;
}

.content-radio input:checked:after {
    background: linear-gradient(45deg, rgba(149, 171, 75, 1) 0%, rgba(211, 226, 163, 1) 67%, rgba(196, 210, 165, 1) 100%);

}

.content-question p {
    position: relative;
    top: -30px;
}

.question:before, .question:after {
    z-index: -1;
    position: absolute;
    content: "";
    left: 10px;
    width: 50%;
    top: 23%;
    /* width: 300px; */
    background: #777;
    height: 35px;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    border-radius: 20px;
}

.question:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

h2 {
    color: white;
    font-size: 1.5em;
    margin: 40px 0 2px;
}

h3 {
    font-size: 1.5em;
    color: #F8C700;
    margin: 30px 0 6px;
    text-align: left;
}

textarea {
    border-radius: 40px / 80px;
    color: #213947;
    min-width: 95%;
    padding: 30px;
}

.column-1 {
    background: white;
    border-radius: 80px;
    width: 100%;
}

input[type='text'],input[type='password'], select {
    background: #213947;
    border: none;
    border-radius: 80px;
    color: #F8C700;
    margin: 7px 0px;
    padding: 15px 26px 4px;
    width: 68%;
}

.column-1 label, .column-3 label, .column-2 label {
    color: #213947;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 400;
    margin-top: -4px;
    vertical-align: middle;
    width: 30%;
}

.content-input {
    margin: 7px 0;
}

.column-3 input[type='text'] {
    border-radius: 60px;
    margin: 5px 0px;
    padding: 9px 15px 6px;
}

.column-3 label {
    font-size: .9em;
    margin-top: -2px;
    text-align: center;
}

.column-3, .column-2 {
    background: white;
    border-radius: 80px;
    display: inline-block;
    padding: 0 5px;
    text-align: right;
    width: 33%;
}

.column-2 {
    width: 78%;
}

.column-2 label {
    font-size: 1em;
    margin-top: 2px;
    text-align: center;
    width: 35%;
}

.column-2 select {
    font-size: 1em;
    width: 62%;
}

.content-submit {
    display: inline-block;
    position: relative;
    width: 21%;
}

input[type='submit'] {
    background: #f6fdff;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
    color: #213947;
    font-weight: 400;
    padding: 6px 0 3px;
    position: relative;
    width: 100px;
}

input[type='submit']:hover {
    background: #213947;
    color: #f6f4ff;
}

.content-submit:before {
    background: linear-gradient(45deg, rgba(216, 216, 216, 1) 0%, rgba(242, 242, 242, 1) 100%);
    border-radius: 20px;
    content: '';
    height: 38px;
    top: -6px;
    left: 46px;
    position: absolute;
    width: 110px;
}

.video {
    bottom: -25px;
    color: white;
    font-size: 1.4em;
    position: relative;
}

.video a {
    color: #F8C700;
    font-size: 1.5em;
}

.margin-bottom {
    margin-bottom: 15px;
}

.logo {
    left: -131px;
    position: absolute;
    top: 0;
}

.exito {
    font-size: 2em;
    color: white;
}

/*
| errors
*/
.errors {
    background: rgba(0, 0, 0, 0.7);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.content-errors {
    left: 50%;
    margin: -250px;
    padding: 15px 30px 18px;
    position: absolute;
    top: 50%;
    width: 500px;
    background: rgb(202, 202, 202);;
    border-radius: 20px;
    color: white;

}
.close{
    position: absolute;
    right: 20px;
    background: rgba(148, 148, 148, 0.54);
    padding: 14px 10px;
    border-radius: 50%;
    line-height: 0;
    cursor: pointer;
}
input[type='password']{
    border: 1px solid #111124;
    width: 50%;
    margin-right: 20px;
    padding: 9px 25px 6px;
}
.show{
    display: block;
}
.content-errors li{
    color: #ff3d46;
    margin: 10px 0;
}
.content-errors p{
    color: #ff3d46;
    font-size: 1.5em;
}
.p-excel{
    color: white;
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}
.img-excel{
    max-width: 65px;
    vertical-align: top;
}
::-webkit-input-placeholder {
    color: #F8C700;
}

:-moz-placeholder {
    color: #F8C700;
}

::-moz-placeholder {
    color: #F8C700;
}

:-ms-input-placeholder {
    color: #F8C700;
}